html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: Comic Sans MS;
}

header, main {
  text-align: center;
}

body, header h1 {
  color: royalblue;
}

main div {
  /*background-color: white;*/
  height: 700px;
}

section h3, section p, ol {
  text-align: left;
  padding-top: 10px;
  margin-right: 300px;
  margin-left: 300px;
  color: grey;
}


article li {
  text-align: left;
  margin-left: 35px;
}

ol {
  margin-left: 250px;
}

a {
  font-size: 20px;
}

a:link {color:lightgrey;}
a:visited {color: darkgreen;}
a:hover {color: pink;}
a:active {color: lightblue;}

footer {
  font-size: 16px;
}
